body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;
  background: linear-gradient(90deg, #ffffff 0%, #9ea8bb 100%);
}

h2 {
  text-align: center;
}

input {
  display: block;
}

