.navbar-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  background: whitesmoke;
}

.navbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-direction: row;
}

.navbar-item,
.navbar-debug {
  display: inline-block;
  padding: 0.5rem;
  margin: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: blue;
  /* Default color for both items */
}

.navbar-debug {
  color: rgb(119, 4, 56);
}

.navbar-item:hover,
.navbar-debug:hover {
  color: rgb(183, 106, 255);
}

.navbar-on {
  background-color: white;
  border: 1px black solid;
}


.navbar-item {
  color: blue;
}

.navbar-debug {
  color: rgb(119, 4, 56);
}

.navbar-item:hover,
.navbar-debug:hover {
  cursor: pointer;
}

.navbar-item:hover {
  color: rgb(183, 106, 255);
}

.navbar-debug:hover {
  color: rgb(41, 2, 77);
}

.navbar-on {
  background-color: white;
  border: 1px black solid;
}